# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
*.lock
*.bin

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
*.ipr
misc.xml
compiler.xml
modules.xml
workspace.xml